<h2 class="display-2 my-3">{{ this.event ? 'Edit' : 'New' }}</h2>

<form action="" (ngSubmit)="onSave($event)" [formGroup]="eventForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control is-invalid"
      placeholder="Title"
      formControlName="title"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('title')"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="note">Note</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="note"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('note')"
    ></textarea>
    <div class="invalid-feedback">Please provide a description!</div>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="date"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('date')"
    ></textarea>
    <div class="invalid-feedback">Please provide a date!</div>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input
      type="text"
      class="form-control"
      placeholder="Place"
      formControlName="location"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('location')"
    />
    <div class="invalid-feedback">Please provide a location!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Submit</button>
</form>
