<h2 class="display-2 my-3">Details</h2>
<dl class="row">

  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">{{event.title}}</dd>

  <dt class="col-sm-3">Place</dt>
  <dd class="col-sm-9">{{event.location}}</dd>

  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">{{event.date}}</dd>

  <dt class="col-sm-3">Notes</dt>
  <dd class="col-sm-9">{{event.note}}</dd>
</dl>

<p>
  <a class="btn btn-primary" role="button" [routerLink]="['/events', event.id, 'edit']">Edit</a>
  <a class="btn btn-outline-danger" (click)="onDeleteClick()" role="button">Delete</a>
</p>
